<footer class="footer">
    <div id="blandit">
        <ul><h3>Blandit nisl adipiscing</h3>
            <li>
                <div class="date">Jan<span>27</span></div>
                <div class="article">
                    <h4>Lorem dolor sit amet veroeros</h4>
                    <p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
                </div>
            </li>
            <li>
                <div class="date">Jan<span>23</span></div>
                <div class="article">
                    <h4>Ipsum sed blandit nisl consequat</h4>
                    <p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
                </div>
            </li>
            <li>
                <div class="date">Jan<span>15</span></div>
                <div class="article">
                    <h4>Magna tempus lorem feugiat</h4>
                    <p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
                </div>
            </li>
            <li>
                <div class="date">Jan<span>12</span></div>
                <div class="article">
                    <h4>Dolore tempus ipsum feugiat nulla</h4>
                    <p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
                </div>
            </li>
            <li class="last">
                <div class="date">Jan<span>10</span></div>
                <div class="article">
                    <h4>Blandit tempus aliquam?</h4>
                    <p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="tempus">
        <ul><h3>Tempus consequat</h3>
            <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
            <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
            <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
            <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
            <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
            <li class="last"><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
        </ul>
    </div>
    <div class="ipsum">
        <ul><h3>Ipsum et phasellus</h3>
            <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
            <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
            <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
            <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
            <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
            <li class="last"><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
        </ul>
    </div>
    <div class="about">
        <h3>What's this all about?</h3>
        <img src="img/pic10.jpg">
        <p>This is <span>Dopetrope</span> a free, fully responsive HTML5 site template by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a> It's released for free under the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license so feel free to use it for any personal or commercial project – just don't forget to credit us!</p>
        <button>Find out more</button>
    </div>
    <div class="vitae">
        <ul><h3>Vitae tempor lorem</h3>
            <div class="social">
                <div><i class="fab fa-facebook-square" style="color: gray;"></i></div>
                <div><i class="fab fa-twitter-square" style="color: rgb(4, 132, 252);"></i></div>
                <div><i class="fab fa-instagram-square" style="color: rgb(180, 11, 67);"></i></div>
                <div><i class="fab fa-tumblr-square" style="color: rgb(0, 0, 71);"></i></div>
                <div><i class="fab fa-linkedin" style="color: gray;"></i></div>
            </div>
            <li>
                <h4>Address</h4>
                <p>Untitled Incorporated
                    1234 Somewhere Road Suite
                    Nashville, TN 00000-0000</p>
            </li>
            <li>
                <h4>Mail</h4>
                <p>someone@untitled.tld</p>
            </li>
            <li class="last">
                <h4>Phone</h4>
                <p>(800) 000-0000</p>
            </li>
        </ul>
    </div>
    <div class="end">
        <div>© Untitled. All rights reserved.</div>
        <div class="design">Design: <a href="http://html5up.net/">HTML5 UP</a></div>
        <div>Demo Images: <a href="http://facebook.com/DreametryDoodle">Dreametry Doodle</a></div>
    </div>
</footer>