<header id="header">
    <h1>Dopetrope</h1>
    <nav>
        <li class="current"><a href="index.html">Home</a></li>
        <li id="dropdown">
            <a href="index.html">Dropdown</a>
            <ul id="first">
                <li><a href="#">Lorem ipsum dolor </a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam dolore nisl</a></li>
                <li><a href="#">Phasellus consequat</a>
                    <ul id="second">
                        <li><a href="#">Lorem ipsum dolor </a></li>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam dolore nisl</a></li>
                        <li><a href="#">Phasellus consequat</a></li>
                        <li><a href="#">Veroeros feugiat</a></li>
                    </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
            </ul>
        </li>
        <li class="sidebar" id="left-sidebar"><a href="sidebar.html">Left Sidebar</a></li>
        <li class="sidebar" id="right-sidebar"><a href="sidebar.html">Right Sidebar</a></li>
        <li class="sidebar" id="no-sidebar"><a href="sidebar.html">No Sidebar</a></li>
    </nav>
</header>